@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-v23-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/montserrat-v23-latin_cyrillic-regular.woff') format('woff');
}
